


.illus {
    margin-left: 0;
}
.canvas-container {
    text-align: center;
    min-width: 80vh;
    position: relative;
    left: 10%;

  }

.save-btn {
    text-align: center;
    margin-left: 35%;
}