.show-progress {
    margin-right: 0;
    margin-left: 0;
    padding-top: 50px;
    min-height: 100%;

background-color: #FFFFFF;;
.progress-btn {
    min-width: 20vw;
    max-height: 20vh;
    color: #0D2B7C;
    background: #E8F5FF !important;
border: 1px solid #0076FF;
box-sizing: border-box;
font-size: 20px;
}
}

#progress {
    min-height: 100%;
}

.illus {
    text-align: center;
    margin-top: 30px;
    margin-left: 30%;
    width: 200%;
}

