.general-domain {
    margin-left: 0;
    background-color: #f2f2f2;

    .description {

        padding-bottom: 20px;
        margin-top: 20px;
<<<<<<< HEAD

        background-color: white;

=======
        
        background-color: white;
        
>>>>>>> 8c95fc9728876ae465096717e08d7f02c0320140
        label {
            padding-top: 10px;
            margin-bottom: 30px;
            padding-bottom: 10px;
            background-color: #11214C;
            width: 100%;
            color: #6296FF;
        }

        .btn-test {

            min-width: 30%;
        }
    }
}

.dialog {
    min-height: 30px;
<<<<<<< HEAD

    span {
        color: #0D2B7C !important;
    }

}

.model1 {

=======
    span{
        color: #0D2B7C !important;
    }
    
}

.model1 {
   
>>>>>>> 8c95fc9728876ae465096717e08d7f02c0320140
    margin-right: 70px;
}

h2 {
    font-size: 30px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8c95fc9728876ae465096717e08d7f02c0320140
