.general-domain {
    margin-left: 0;
    background-color: #f2f2f2;
    .description {

        padding-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        background-color: white;
        width: 80%;
        label {
            padding-top: 10px;
            margin-bottom: 30px;
            padding-bottom: 10px;
            background-color:  #11214C;
            width: 100%;
            color: #6296FF;
        }

        .btn-test {
            
            min-width: 30%;
        }
    }
}



